[2019-05-12 05:51] suyashkumar opened #2 "Auto-scale pixel intensity values"
The dicomutil CLI utility does not currently autoscale colors and intensities, but should probably do so.

[2019-05-12 05:53] suyashkumar opened #3 "Triage old issues and port over here"
Triage old issues I opened over at https://github.com/gradienthealth/dicom/issues and migrate as appropriate.

[2019-05-12 05:57] suyashkumar opened #4 "Add flag to specify image output path for dicomutil CLI"

[2019-05-12 06:00] suyashkumar opened #5 "Cleanup %decoder"
At some point there seems to have been an inadvertent find and replace that snuck in to change %d to %decoder. Example:
https://github.com/suyashkumar/dicom/blob/668a92a5a3c109dfeab3f99788b1f7d094dd94b3/parse.go#L103

[2019-05-12 06:01] suyashkumar opened #6 "Release prebuilt CLI binaries, add suyashkumar/bin based distribution instructions"

[2019-05-16 22:48] gedw99 opened #8 "streaming frames"
I would like to explore the options for building a GUI client as well as annotated tools in golang.

Is there any more info you have about the jpg files ? Are they in some special format ?
https://github.com/suyashkumar/dicom/blob/master/dicomutil/dicomutil.go#L132

[2019-05-17 03:37] suyashkumar commented on #8
Awesome!

Yep, so in dicom there are two broad types of image data: Encapsulated images (compressed in some way) and Native images (which are usually stored in the dicom as 16 bit ints). You can see how native pixel data is turned into a jpg [here](https://github.com/suyashkumar/dicom/blob/master/dicomutil/dicomutil.go#L137) (autoscaling will need to be implemented at some point) and you can see h

[2019-05-17 03:41] suyashkumar opened #9 "Migrate logging to uber-go/zap"

[2019-05-17 03:44] suyashkumar opened #10 "Audit Code, identify refactors"
Lots of opportunity to continue refactoring this code base!

[2019-05-17 03:44] suyashkumar opened #11 "Add better documentation and examples"

[2019-05-17 03:46] suyashkumar commented on #10
`parse.go` has historically been long and complicated across all the branches of this...there is likely work that can be done around there to factor out functions and find opportunities for abstration to make things more maintainable

[2019-05-17 13:24] gedw99 commented on #8
Thanks. I dont know much about DICOM. Too many things to keep track of with Medical Stards :)

I have a few usecases in mind:

Animated DICOM. So if i get a Dicom of from an Ultrasound machine then we are talking either a still or animated right ?
I want to be able to play it animated and so suck out the images and then transcode to the Viewers video format.

3D Printing. So if i am making a prost

[2019-05-18 05:34] suyashkumar opened #13 "Output DICOM Metadata to JSON"

[2019-05-18 05:51] suyashkumar opened #14 "Consider refactoring to cmd and pkg layout"

[2019-05-18 05:51] suyashkumar opened #15 "Consider using go mod"

[2019-05-18 06:01] suyashkumar opened #16 "Add Benchmarks"
Benchmarks.

[2019-05-18 06:15] suyashkumar opened #17 "Fetch and parse DICOMs at URLs"
API like:
`dicomutil --extract-images https://suyashkumar.com/test.dcm`

The user must trust the entity serving the URL (and cert).

[2019-05-23 05:45] suyashkumar opened #18 "Add godoc usage examples"

[2019-05-23 05:51] suyashkumar opened #20 "API Refactors"
The current top level `dicom` api is pretty crowded with many public functions, interfaces, and struct definitions (and has historically grown more crowded across forks). It is reasonable to group some of these into subpackages.

[2019-05-24 05:35] suyashkumar opened #22 "Replace or refactor doassert"

[2019-05-24 05:36] suyashkumar opened #23 "Revisit package stutter (element.Element)"
In #21, there were some major refactors, moving certain entities into standalone packages, which did introduce some stutter. While there are examples in the std lib of this (`context.Context`), if there's some way to group or name packages to allow this to read better that would be preferrable.

[2019-05-24 05:38] suyashkumar opened #24 "Standardize enum conventions across package"
Across the many forks and contributions of this project, different enum naming conventions were introduced. Standardize and unify.

[2019-05-26 21:09] suyashkumar opened #25 "Decided what to do with dicom prefixed packages (ex dicomio)"

[2019-05-30 06:10] suyashkumar opened #26 "Consider creating a unified Frame interface (for Encapsulated and Native frames)"
It would be nice to deal with a single unified `Frame` interface that wraps Encapuslated and Native frame data. Main thing it would do is try to abstract away a `GetImage` method that just returns a standard `image.Image` no matter what the underlying frame data.

Something like
[code]

However there are many considerations:
  - What about window width and center? Should parameters for those be pa

[2019-06-13 06:58] suyashkumar commented on #26
The key here is should the PixelData `Element`'s value be a raw-ish representation of a Frame or an interface that lets the caller retrieve a processed version of that Frame as an `image.Image` (and in doing so, the caller is invoking some unseen magic to make that happen).

Seeing as the interface will still allow the user to get the appropriate underlying `NativeFrame` or `EncapsulatedFrame` sim

[2019-06-13 07:00] suyashkumar commented on #3
Done

[2019-06-13 07:00] #3 closed

[2019-06-17 17:54] 7dir opened #27 "dep: WARNING: Unknown field in manifest: prune"
[code]

[2019-06-27 05:56] #26 closed

[2019-07-12 05:32] suyashkumar opened #30 "Refactor existing parse logic"
Much of the high level parse logic comes from the upstream fork, but there are some ways this should be simplified (recursion instead of looping for sequence elements, more traditional golang error handling, a nicer interface, etc).

[2019-07-12 06:02] suyashkumar opened #31 "Convert DICOMs to tf.Example ?"
A potentially useful feature for the included CLI (and library) could be converting DICOMs (frames + metadata) into neat `tf.Example` protocol buffers for downstream use in Tensorflow.

[2019-07-12 06:11] suyashkumar opened #32 "dicomutil should be able to operate over directory trees of DICOMs"
The cli should be modified to be able to operate over a set of DICOMs that reside in a provided directory tree.

One could imagine using `dicomutil` to iterate over a set of DICOMs to process them in some way--say, converting them into `tf.Example`s or dumping their metadata to CSV, or writing out DICOM frames to disk as `jpg`s.

A deterministic output structure would be required--a possibility is

[2019-07-12 06:13] suyashkumar commented on #31
Library functions to do these kinds of conversions (`DataSet -> tf.Example`) can live in a `convert` package.

[2019-07-14 02:26] suyashkumar opened #33 "Either hydrate protobuf representation of dicoms, or code gen tag specific getters or data structures"

[2019-07-14 02:45] suyashkumar opened #34 "Overhaul legacy error handling"

[2019-07-14 04:11] suyashkumar opened #35 "API to work with Sequence Elements"
Provide an optional API that callers can use to work with nested Sequence items easier. This will probably be more allocations and copying than just iterating over the `Value` in the SQ element and using type assertion, but the caller has the option to do either (use the nicer API or go with the optimization).

Maybe I can also provide a callback based helper iterator to help callers go iterate mo

[2019-07-15 05:13] suyashkumar opened #37 "Consider migrating DataSet to use map of tag -> Element"

[2019-07-15 05:21] suyashkumar commented on #37
Does the order of the tags in the original dicom matter?

[2019-07-15 06:06] suyashkumar opened #38 "Output DICOM Metadata to Proto"
Proto might look something like

[code]

[2019-07-16 04:36] suyashkumar commented on #2
We can support a default autoscaling (redistribution) of values based on the min and max pixel value (purely for draft display purposes), while working on implementing the pipeline to look at the [VOI LUT](https://dicom.innolitics.com/ciods/ct-image/voi-lut/00283010) parameters and apply those scalings. To fully capture this will take some effort, as there are many branches of logic it might take

[2019-07-16 15:49] jstutters opened #39 "Missing error handling in NewParserFromFile"
In NewParserFromFile the optional error from NewParser should be checked prior to assigning parser.file in case the returned parser is nil ([see here](https://github.com/suyashkumar/dicom/blob/master/parse.go#L73)).

[2019-07-17 03:42] #39 closed

[2019-07-29 16:39] ASVBPREAUBV opened #41 "netdicom"
Did you get rid of the Implementations in github.com/grailbio/go-netdicom?
Would like to switch from grailbio, but dont want use both.
Maybe i can implement a separate dcm server depending on your implementation.

[2019-08-03 19:24] suyashkumar commented on #41
hm if that library depended on certain APIs in the grailbio dicom parser, those have probably been changed or removed, as there was a lot of extensive refactoring done on our end (which has led to a lot of improvements imo, but did require cutting some things out). There is some support for querying a DICOM dataset here: https://github.com/suyashkumar/dicom/blob/master/query/queryretrieve.go

Will

[2019-08-04 06:08] #5 closed

[2019-09-09 20:41] jacobalberty commented on #37
I believe the order of tags does matter, at least according to dcmdump from dcmtk
This code snippet works
[code]

But if I move the start date above the description as follows:
[code]

Then dcmdump gives me `W: DcmItem: Dataset not in ascending tag order, at element (0032,1060)`

I have not tested this with my actual x-ray software yet but orthanc gives me a similar error in the console when I tes

[2019-09-15 03:21] suyashkumar commented on #37
@jacobalberty thank you for the information, it's definitely useful to know that when writing the tags they should be in order! It may be useful to still represent the DataSet as a map of tag -> element (or pointer to element) so that it's easy to fetch elements by tag in large DataSets, without too much memory overhead. Thoughts?

[2019-10-13 01:42] suyashkumar opened #44 "Add interesting test cases"
http://www.dclunie.com has many interesting imaging datasets to test against. We should also consider possibly generating a synthetic test set of dicoms and sharing them.

[2019-11-14 08:12] suyashkumar commented on #30
Looking over some of this now, I think this is particularly important. Some further rethinking and overhauling of the old godicom logic and API will make this library more useful.

[2019-11-17 19:11] suyashkumar commented on #30
working on an exploratory rewrite in s/explore

[2019-11-18 19:58] kristianvalind opened #46 "Allow disabling of VR validation during encoding"
When encoding an element, a VR not matching what is specified in the standard triggers an error.

For tags where the standard is ambiguous or allows more than one VR type, this is problematic. For example, (0028,0120) Pixel Padding Value somewhat frequently appears as SS, rather than US, which will trigger an error.

One way to solve this would be to allow encoding of elements without VR validatio

[2019-11-19 07:05] suyashkumar commented on #46
Seems like a reasonable feature, even if it's triggered by a parameter. Would you be interested in contributing a patch? If not I can take a look, but most likely will have to happen after Thanksgiving.

In the meantime, I'm working on an experimental refactor / rewrite (a 1.0) currently on the s/explore branch. and I can include this feature in the roadmap for that release.

[2019-11-19 16:49] kristianvalind commented on #46
I have created a pull request (https://github.com/suyashkumar/dicom/pull/47) for my attempt at a patch. It does break API compatibility for the write package, but is supposed to be consistent with the options definition style used in the main package.

[2019-11-21 20:00] kristianvalind commented on #46
Closing since we have implemented this functionality in master.

[2019-11-21 20:00] #46 closed

[2019-11-27 07:26] kapong opened #52 "Wrong1D to 2D array convert?"
https://github.com/suyashkumar/dicom/blob/b201728082af82e8d0188430b3e9554a91f36207/frame/native.go#L33

I think it should be
`i.SetGray16(j%n.Rows, j/n.Rows, color.Gray16{Y: uint16(n.Data[j][0])})`

Is it right?

[2020-01-01 21:39] thavlik opened #53 "MetaElementGroupLength not found"
The dicoms provided by https://www.kaggle.com/c/rsna-intracranial-hemorrhage-detection are not standardized to have MetaElementGroupLength come first. The pydicom library, which the dataset was probably intended for use with, accounts for this by reading until the first non-0x0002 tag then rewinding.

[2020-01-03 03:11] suyashkumar commented on #53
Thanks for raising this @thavlik, I think it makes sense for us to make a fix here to account for DICOMs like this!

I'll look deeper into this either this weekend or later next week when I'm back from vacation. The solution you indicated that PyDicom does seem workable, but it would be great to avoid rewinding if possible.

I think that we might be able to get by without rewinding (which would be

[2020-01-03 03:47] thavlik commented on #53
That's a great idea!

Here is an example DICOM:
[ID_0015ba0f2.zip](https://github.com/suyashkumar/dicom/files/4018077/ID_0015ba0f2.zip)

[2020-01-06 01:15] suyashkumar commented on #53
@thavlik Thank you for the investigation and the sample dicom! To support unstandardized dicoms like this, it appears that we may indeed need to investigate a rewinding mechanism, or some sort of `peek` ahead capability (maybe a small buffer to allow something like this).

I think it will be a couple weeks before I have bandwidth to really dig into this. PRs are welcome so let me know if you might

[2020-01-06 18:55] thavlik commented on #53
One possibility is to read until the first non-metadata tag (this much is unavoidable) and then store a pointer to said tag within internal state. Parsing the body then entails considering this initialTag if it is non-nil, and subsequently setting it to nil - resuming current behavior. Kinda hacky but it's all I've got.

[2020-01-11 00:45] andrewwebber opened #55 "Consider linting tool like golangci-lint"
When refactoring consider incorporating a tool like [GolangCI-Lint](https://github.com/golangci/golangci-lint)

This would improve/enforce the readability for new-comers. Apart from that, excellent project BTW, its either this or https://github.com/Enet4/dicom-rs

[2020-02-03 05:04] suyashkumar opened #56 "[POLL] Comment here if using this for RESEARCH (or tell us how you're using this repo)!"
Hi all, this is a pseudo-issue to collect some information on how folks are using this library. Please comment here and let us know your use cases and if you're using this for research, and if there are any features you might want!

[2020-03-17 19:20] wkoszek commented on #56
All right. Let me be the first one. We're using it at Segmed.ai. You've done a great job supporting this stuff, for which we are grateful.

We use it to process dozens of GBs of DICOMs a day. We use it because Golang's libraries for doing everything else are so fast and rich, it brings us a great flexibility to stay in Golang ecosystem for data processing, and I can parallelize Golang programs eas

[2020-03-18 01:46] ruanwenfeng opened #57 "Take up too much memory"
memory usage has been growing when i use in webassembly
Is this a bug?

[2020-03-27 06:06] suyashkumar commented on #56
@wkoszek thanks for the comments, kind words, and suggestions!

Great to hear you all are using the library extensively! I'd love to build an extensive test library of DICOMs to periodically test against--I don't doubt that there are DICOMs out there that will trip up this parser (and others), given the extreme variability and non-standard quirks found in DICOMs. Either way, that will be a great w

[2020-04-08 05:22] wkoszek commented on #56
@suyashkumar We'd be interested in providing samples and helping with the repository. Do you think joining/ask dicomstandard.org folks would be useful for this? On Segmed's side, I could run Codify for us https://github.com/pydicom/pydicom/blob/master/pydicom/util/codify.py, edit files for privacy, and get us useful test vectors. Better tool would also fill PixelData with some made-up gradient.

B

[2020-04-13 07:46] wkoszek opened #59 "Keyword 'DICM' not found in the header (file offset 132)"
# Problem

I have an XRay DICOM failing to initialize the parser b/c of:

[code]

I can dump it with with fine `dcmtk` [dcmdump]. Good news is that the competition fails as well:

[code]

[2020-04-15 08:08] wkoszek opened #60 "Unknown character set 'ISO_IR 6'. Assuming utf-8 (file offset 360)"
I've hit this issue with 2 many DICOM files coming from 2 different providers/countries.

PyDICOM works fine in this case.

Looks like pydicom considers it as a normal encoding. I think we should too.
[code]

(edit): Same issue with: `Unknown character set 'ISO_IR 192'. Assuming utf-8 (file offset 348)`

[2020-04-18 04:02] suyashkumar commented on #60
Thank you for raising this--feel free to submit a PR to add this character set!

[2020-04-18 04:05] suyashkumar commented on #59
Hm, this is an interesting one. Checking for this magic word is a good way to ensure you're actually reading a DICOM and that it isn't malformed. One option we can provide is a `force` option or flag that will not hard fail on this check, but might fail in other ways downstream since we don't have this magic word.

[2020-04-18 04:07] suyashkumar commented on #57
Hi there, I don't know too much about webassembly, but am interested in learning more ever since they introduced a webassembly target in go!

I'm not sure if the memory management and garbage collection work differently when compiling a Go program to a webassembly target.

I would love to learn more about your setup, and if you want, would love to see your memory usage profiles, heap profiles, any

[2020-04-20 04:08] ruanwenfeng commented on #57
1. start server
`
make run
`
2. open browser 127.0.0.1:8001

3. select dicom file
![image](https://user-images.githubusercontent.com/27943586/79712912-c8c6d780-82fe-11ea-9a2e-7b4b7e058dfc.png)

4. refresh the browser a few times

5. observe memory and CPU usage
![image](https://user-images.githubusercontent.com/27943586/79713165-923d8c80-82ff-11ea-8b4c-879cacf76e61.png)

code:   [a simple test](ht

[2020-04-21 19:35] wkoszek opened #61 "(0028,0010)[Rows]: element not found (file offset 1732)"
I'm getting this error many times when run over our data collections. Looks like we're having some issues with several DICOMs we have.

[2020-04-21 19:38] wkoszek opened #62 "Unexpected EOF"
Don't have more details right now (just repasting some error messages here from our last run over many Ms of DICOMs), but essentially some of our DICOMs can'd be decoded b/c of the "EOF" message. Will dig deeper into the source code later.

[2020-04-21 19:41] wkoszek opened #63 "Trying to read 4 bytes beyond buffer end"
Another issue resulting from a scan around several millions of DICOMs. We have to dig deeper around what is causing that.

[2020-04-21 19:42] wkoszek opened #64 "Error: Expect Item in pixeldata but found tag"
Hit another issues when scanning DICOMs:

[code]

[2020-04-21 19:42] wkoszek opened #65 "Error: Encountered odd length"
Another issue when scanning many DICOMs:

[code]

[2020-04-26 03:21] suyashkumar commented on #61
Interesting--this error originates from [FindByTag](https://github.com/suyashkumar/dicom/blob/661f45d57717eaa29aa9775796a4fea18fb0943a/element/element.go#L338) and essentially indicates that the Rows element `(0028,0010)` doesn't exist in this DICOM. Are you getting this when running `dicomutil` CLI to get the native or encapsulated image? The Rows tag is important for reading native pixel data--w

[2020-04-26 03:24] suyashkumar commented on #62
Thank you for raising this issue! Interesting, wonder if the DICOM is malformed in someway if we're hitting some EOF inside the dicom itself? Would love more info on the dicom binary bob if possible!

[2020-04-26 03:53] suyashkumar commented on #65
Thanks for raising this! I will need to check further into the DICOM spec to see when we have odd value lengths, and why/when we expect them to be even (in the code, there is an explicit check to see if it's even).

[2020-04-26 03:59] suyashkumar opened #66 "[Rewrite] Implement dicomio.Reader Interface"

[2020-04-26 04:00] suyashkumar opened #67 "[Rewrite] SQ Element Support"

[2020-04-26 08:00] #60 closed

[2020-04-26 20:39] wkoszek commented on #62
@suyashkumar Took a stab on this today. I've used `codify.py` from `pydicom` in hope to get exact same DICOM parameters. The idea is that I'd modify stuff by hand as a de-id process, and provide you a way to replicate the DICOM. That was a fiasco--looks like the resulting script which codify generates isn't runnable. I start to understand why creating a testing library will be hard.

There are 2 o

[2020-04-27 03:21] suyashkumar commented on #66
Closed in #70 .

[2020-04-27 03:21] #66 closed

[2020-04-27 03:40] suyashkumar commented on #62
Thank you for your efforts! Option 2 likely sounds the best, though I'm not sure if the diversity of DICOMs in the cancer imaging archive match what you likely have--hopefully some of these issues are reproducible there!

For dicoms like this, perhaps I should add additional debug instrumentation that can output information about which element the parser was in when it encountered the error, and o

[2020-04-27 04:09] suyashkumar commented on #62
btw, when searching for some sample data I came across: http://gdcm.sourceforge.net/wiki/index.php/Sample_DataSet which appears to have several datasets, but unclear on most if there is any data use policy or license that applies.

[2020-04-27 04:41] #67 closed

[2020-05-06 17:28] wkoszek commented on #65
@suyashkumar Just wanted to make an intro here to Brian Hardell here, aka @IChocked at Github.

Brian will intern with us this support, and one of his tasks is stress-testing our data ingest pipeline at Segmed. I've mentioned getting some data samples for all the recent reported issues is high on our list, so you might be seeing some DICOMs from us.

[2020-05-20 21:52] IChocked opened #75 "ERROR: too many open files"
Results after too many dicom files (in my case 1024) have attempted to be opened and failed.

The issue seems to results from the function `NewParserFromFile()` in Parse.go. Each time the function is called, it opens a new file, but that file is not closed in the function or the termination of the function, but rather is indirectly closed later by the code execution following `p.(*parser).file = f

[2020-05-20 22:00] suyashkumar commented on #75
Thanks for the upcoming contribution! Agreed, if there are other errors in NewParserFromFile, the file should be closed before returning

[2020-05-20 22:07] wkoszek commented on #75
@IChocked For the fix, if we don't use `.file` variable anymore, feel free to remove it from the Parser structure.

[2020-05-20 22:41] suyashkumar commented on #75
Commented on the PR #76, I think we should be careful about trying to read the file all at once, and instead should continue to use the buffered `io.Reader` API (for example, consider reading large files from a network filesystem). This will ensure that the streaming of frames as they are parsed is still functional. I think we should certainly close the file if NewParserFromFile returned with an e

[2020-05-20 22:46] wkoszek commented on #75
@suyashkumar I'm ok with @IChocked simple change (closing file). I like the idea of passing the reader interface for v1.0

[2020-05-20 22:49] suyashkumar commented on #75
Sounds good! Note that the [existing API](https://github.com/suyashkumar/dicom/blob/8abd37b0527758076982254a1862c972aeb6e1c8/parse.go#L43) also does allow a user to call `NewParser` and supply an io.Reader, but the `NewParserFromFile` was added as a convenience method, which perhaps we'll consider leaving out in the 1.0 API.

[2020-05-21 22:09] IChocked opened #77 "ERROR ReadBytes"
`ERROR ReadBytes: requested 2, available 0 (file offset 65274)`

I haven't had a chance to look into it yet, but I've attached 3 example files and will try to get more info sometime soon.

[examples.zip](https://github.com/suyashkumar/dicom/files/4665083/examples.zip)

Data Citation:
_Kinahan, Paul; Muzi, Mark; Bialecki, Brian; Coombs, Laura. (2017). Data from ACRIN-FLT-Breast. The Cancer Imaging

[2020-05-22 03:19] #75 closed

[2020-05-22 03:22] suyashkumar commented on #77
Fantastic, thank you for raising this and posting some sample files! Will see if I can investigate a little this weekend or later next week, and let me know if you have a chance to investigate in the meantime. It might be nice to also try the rewritten parser on this set of files as well. I think we should also consider adding in more robust debug instrumentation throughout the parser, both the cu

[2020-05-22 03:29] suyashkumar opened #78 "Add more comprehensive debugging instrumentation"
There are all sorts of odd or even non-conformant DICOMs out in the world.

When we encounter parser failures on a DICOM (for both the current and the in progress rewrite), it would be good to be able to toggle a debug mode flag that can help us better dig into parsing failures and provide helpful information. Ideally if this information is not PHI (e.g. just DICOM tags, other general info), it wo

[2020-05-22 18:54] suyashkumar commented on #77
I have done some quick investigation, and I think I see what the issue is.

It looks like the PixelData tag `(7FE0,0010)` can appear multiple times in a Dataset, in particular when it is part of an Icon Image Sequence.

In this case, when we parse that native pixel data, we must make use of tags that have appeared earlier (like `Rows`, `BitsAllocated`, etc). However, if we encounter the PixelData

[2020-05-22 20:49] suyashkumar commented on #77
You can see the WIP draft PR #79 that should quick fix this, and appears to work for the provided DICOMs (thanks again for those). There is one odd thing that I'd like to check out before merging, and maybe refactor to avoid some temporary copies either now or in a follow up PR.

[2020-05-23 22:46] thavlik commented on #53
@suyashkumar I'm looking to implement this fix now.

[2020-05-23 23:25] thavlik commented on #53
I added an example DCM and made some changes at https://github.com/thavlik/dicom/commit/15f31204d7ec7f96cd75d76fc455e829a4fb7868.

The tests do not pass. Currently digging into:

[code]

[2020-05-24 01:01] suyashkumar commented on #53
Hey @thavlik thanks for taking a look at this! I'll need to look a little closer at the test failure on your branch to help debug.

In terms of the general approach, off the top of my head I think it might be sufficient to read until the first non group `0x0002` group tag and then proceeding with typical parsing after that. I'll have to double check though if we need to enforce that certain metada

[2020-05-24 23:29] thavlik commented on #53
My branch is, functionally, doing exactly this. It's unclear why the rest of the file fails to parse as normal.

[2020-05-26 17:25] IChocked commented on #65
I encountered this issue in some public data and wanted to share a few examples files.

[examples.zip](https://github.com/suyashkumar/dicom/files/4683909/examples.zip)

Data Citation:
_Kinahan, Paul; Muzi, Mark; Bialecki, Brian; Coombs, Laura. (2017). Data from ACRIN-FLT-Breast. The Cancer Imaging Archive. http://doi.org/10.7937/K9/TCIA.2017.ol20zmxg_

[2020-05-27 09:50] selimyoussry opened #80 "Values with VRs constructed of character strings are padded with trailing NULL instead of spaces"
Per http://dicom.nema.org/dicom/2013/output/chtml/part05/sect_6.2.html, paragraph 6.2 Value Representation (VR):

When parsing a DICOM file with `RequestAttributesSequence` (among other tags encoutering the same issue), with `pydicom`, the trailing NULL byte is not removed by `pydicom`, which is probably following the DICOM spec referenced above more closely
`
dcm_file = pydicom.dcmread(...)
print

[2020-05-27 21:07] suyashkumar commented on #80
Hi @selimyoussry, thank you for the detailed context. I think this proposed change makes sense to me, please feel free to submit a pull request to this repo! Contributions are very welcome.

As for guidelines, I don't have any special requirements--I guess the main thing to keep in mind is that submitting a PR to this repo means you are okay licensing your patch under this repository's license (th

[2020-05-27 21:10] suyashkumar commented on #80
Also, for VRs where leading and trailing spaces are considered insignificant, it may be worth trimming those by default when parsing as well--feel free to send a contribution for that as well, otherwise I'll open a separate issue to track that as well.

Thank you!

[2020-05-28 08:29] selimyoussry commented on #80
@suyashkumar sounds good, I don't believe I have write permissions, I can't seem to be able to push my branch to submit the PR. Could you please check and give me appropriate permissions? Thanks

[2020-05-28 08:31] selimyoussry commented on #80
Also @suyashkumar , when you review my PR and it gets accepted and merged, can you please take care of the `go.mod` version bump? Thanks

[2020-05-29 22:42] IChocked commented on #63
@suyashkumar Found some example files for this error

[issue63.zip](https://github.com/suyashkumar/dicom/files/4704667/issue63.zip)

Data Citation:
_Kinahan, Paul; Muzi, Mark; Bialecki, Brian; Coombs, Laura. (2017). Data from ACRIN-FLT-Breast. The Cancer Imaging Archive. http://doi.org/10.7937/K9/TCIA.2017.ol20zmxg_

[2020-05-29 23:22] IChocked opened #82 "ERROR dicom.ReadElement: Undefined length disallowed"
This error occurs [here](https://github.com/suyashkumar/dicom/blob/master/parse.go#L351) in parser.go in the ParseNext() function. Something odd that I don't completely understand is that the tags reported in the error, at least for the two example errors below, don't exist in the file (they aren't printed out with [dcmdump](https://support.dcmtk.org/docs/dcmdump.html)).

**Example errors:**
- ERR

[2020-05-31 04:10] suyashkumar commented on #80
closed by #81

[2020-05-31 04:10] #80 closed

[2020-06-02 20:26] IChocked opened #83 "Unique Version String Feature"
When debugging and testing fixes, it would be useful to have a function to call to be able to figure out what version of the library is running locally. As it is now, when testing the latest fix, I look at the files that were changed to figure out which version of the library it is, but it would be nice to be able to do something like `dicom.Version()`

[2020-06-08 01:21] suyashkumar commented on #83
Yep I think that would be nice and I've considered something like that in the past. We'll have to think about how to incorporate such a string at build time.

One option: when running `make release`, write the current git hash out to a file which is then included in the binary build as a package variable. We could also consider the git tag as well, if present on the commit being built from.

[2020-06-08 01:26] suyashkumar commented on #80
@selimyoussry apologies for the delay, but you should be able to use the v0.4.3 tag: https://github.com/suyashkumar/dicom/releases/tag/v0.4.3

[2020-06-08 01:32] suyashkumar commented on #82
I think these are happening due to the same issue in #77. I think this because my quick fix branch seems to parse these files with no issues. (PR #79, branch s/native-pixeldata-fix)

[2020-06-08 01:33] suyashkumar commented on #82
feel free to use a build from that branch for evaluating issues. I need to check on some weird behavior I saw with that PR before merging and clean things up, but overall it should unblock you all if you are blocked on it!

[2020-06-08 01:36] suyashkumar commented on #65
These images all also seem to parse correctly with no errors with my quick fix in PR #79--there is a possible issue with the embedded icon image parsing though I want to look into (or maybe, a lot of the icons in some of these images are just empty, but will confirm after looking a bit deeper).

[2020-06-08 02:06] suyashkumar opened #84 "Scalable Test Harness"
We should consider building a more scalable test harness. As the test set of DICOMs grow, we should not be committing these dicom blobs into git. Instead, we should have a set of lightweight sanity checks along with unit tests that run based on information in the repository, and on demand (or before merging into master) we should be able to trigger a test routine where we fetch a (larger) collecti

[2020-06-08 02:09] #65 closed

[2020-06-08 02:09] #77 closed

[2020-06-08 02:09] #82 closed

[2020-06-20 17:58] wkoszek commented on #84
@suyashkumar Do you have any examples for *writing* new DICOMs with your library?

[2020-06-22 02:35] suyashkumar commented on #84
Nothing other than what you might find in the tests here: https://github.com/suyashkumar/dicom/blob/master/write/writer_test.go. Most of the write package code was inherited from upstream fork, and I haven't done much in that area. Would be great to start to improve this portion of the library if you have any requests.

[2020-06-22 18:19] bbeckrest opened #85 "Error parsing encapsulated pixel data - "unsupported JPEG feature: unknown marker""
Hi Suyash,

First off, thank you for your efforts supporting/maintaining this library. I really appreciate your desire to guide future development based on user feedback.

I'm running into an issue while trying to parse encapsulated pixel data. Unfortunately, the following error is being returned:

[code]

Here's a snippet of code I'm trying:

[code]

Here's an example of failing DICOM images:
[di

[2020-06-23 00:27] wkoszek commented on #84
@suyashkumar I'll discuss with @IChocked We would benefit from this functionality for CI/CD functionality, where I'd really like to generate some DICOMs created from the code.

[2020-06-25 21:46] IChocked commented on #59
@suyashkumar I've provided some test files from the [dicom4android](https://github.com/dragonlet/dicom4android) repo that I was able to reproduce this error with. They appear to have problems in addition to this error (for example, some are missing the header data and thus would invoke [issue 53](https://github.com/suyashkumar/dicom/issues/53) because that tag wouldn't be there). However, we have

[2020-06-25 22:23] IChocked commented on #59
@suyashkumar As a potential fix like you described above, what do you think about:
1. Adding a force boolean to the [parser struct](https://github.com/suyashkumar/dicom/blob/master/parse.go#L34) which can be set through a setter function (or directly, whichever is preferred)
2. Adding a default value of the force boolean as false with something like [this implementation](https://www.geeksforgeeks.

[2020-07-03 01:17] suyashkumar commented on #85
Hi there @bbeckrest! I can take a deeper look later this weekend if needed, but one thing that may be worth trying is index `1` for the frame, which should index into the second pixeldata value.

What happens if you try:
`slice.pixelData.Frames[1].GetImage()` in your code instead of `slice.pixelData.Frames[0].GetImage() `?

[2020-07-03 01:23] suyashkumar commented on #59
@IChocked this approach seems reasonable to me.

Regarding the default false value, the [zero values for booleans is false anyway](https://tour.golang.org/basics/12#:~:text=The%20zero%20value%20is%3A,the%20empty%20string)%20for%20strings.), so just adding it to the struct should be fine.

Note the following code after that if statement expects that the other preamble tags appear in a certain order

[2020-07-06 01:30] suyashkumar commented on #84
Sounds good, one option I've been looking into for "smoke test" level coverage is using [GIT LFS](https://git-lfs.github.com/) with GitHub to store the DICOM binary blobs.

[2020-07-06 01:51] suyashkumar opened #88 "Support scoped character sets (e.g. only apply to a SQ for example)"
https://github.com/suyashkumar/dicom/blob/9d8d8d93103033c11b791381ffe54559ce4c7429/parse.go#L152-L155

[2020-07-06 18:47] bbeckrest commented on #85
@suyashkumar Thanks for the reply.

Trying the suggestion above causes a panic due to `Frames` only having a length of 1. Not sure why it's not parsing the second pixeldata value.

[code]

[2020-07-07 02:57] IChocked commented on #59
@suyashkumar Yeah, I'd definitely be interested in submitting a PR for this! I'll get on it and submit something as soon as I can

[2020-07-15 16:13] courteouselk opened #91 "Incorrect error "VR value mismatch for tag (0028,0120)[PixelPaddingValue]. Element.VR=SS, but DICOM standard defines VR to be US""
We receive this error when we try write down a DICOM file we have just parsed and slightly updated:

However, the standard defines both `US` and `SS` to be valid values.  E.g. see: [DICOM PS3.6 2020c - Data Dictionary](http://dicom.nema.org/medical/dicom/current/output/html/part06.html) or  [Pixel Padding Value Attribute](https://dicom.innolitics.com/ciods/rt-plan/general-equipment/00280120).

[2020-07-17 02:00] suyashkumar opened #92 "Consider deprecating NewParserFromFile, NewParserFromBytes"
The primary parser API taking in an `io.Reader` should be sufficient, and offering extra API surface for `NewParserFromFile` and `NewParserFromBytes` may not buy us much.

For a byte slice, a caller would do:
[code]

For files, a caller can do:
[code]

Though having a file helper is somewhat nice.

[2020-07-17 02:01] suyashkumar commented on #92
Would love to gather feedback here on this.

[2020-07-19 03:22] suyashkumar commented on #13
@wkoszek @IChocked not sure if this is useful for y'all but I have a working JSON serialization of the DICOM metadata working (for the rewrite) over in #98. It'll need some cosmetic cleanup, maybe we should skip the PixelData, etc.

I'll also work on a protocol buffer serialization (#38), which will be more type safe, etc.

Considering also serializing to [FHIR imaging study](https://www.hl7.org/f

[2020-07-20 03:49] suyashkumar commented on #85
@bbeckrest apologies for the delay! Looks like this issue is coming from the jpeg.Decode call (from [here](https://github.com/golang/go/blob/c5ac91d0e1082914d3eeb8dff9d80974eb1bf9b7/src/image/jpeg/reader.go#L647)). One option is to take the encapsulated pixel byte data and write out the byte data to disk to see if you can open it in a jpeg tool of your choice. Taking a look, there does seem to be

[2020-07-20 04:01] suyashkumar commented on #91
Thank you for reporting this!

I haven't done much with the write package since inheriting from the upstream fork (by contrast much of the read package is [being rewritten](https://github.com/suyashkumar/dicom/tree/s/1.0-rewrite), and the write package should be too at some point imo).

This is happening because right now only one VR is read in from the dicom standard into the tag map: https://git

[2020-07-20 11:21] courteouselk commented on #91
Hi @suyashkumar, thanks for the prompt reply.  I had a look at the possibility to use that option and it seems that we could try to use it.  There is just one minor problem, we use `write.DataSetToFile` call, and this one has a bug of not passing `opts` argument to subsequent `write.DataSet` call.  I had just pushed a PR to fix this (one-liner).

[2020-07-20 21:55] suyashkumar commented on #91
@courteouselk thank you! Merged #102, and will add a tagged version later today.

[2020-07-23 14:53] bbeckrest commented on #85
@suyashkumar You are correct. I'm able to get the byte data from the encapsulated frame using the code above. The issue is the JPEG encoding.

The encoding of the images is **JPEG Lossless:Non-hierarchical, 1stOrderPrediction** (1.2.840.10008.1.2.4.70)

After looking into this a bit, there doesn't seem to be an easy way to parse these. Apparently, [very few image readers support this codec](https:

[2020-07-24 06:02] suyashkumar commented on #85
Ah, I was wondering if that was it! Great find, btw--I do remember thinking a little about this in the [past as you found](https://github.com/gradienthealth/dicom/issues/24#issuecomment-408145964), but luckily never directly ran into this situation yet 😅 .

I haven't looked into how complicated the implementation of LosslessJEPG might be, but for what it's worth it might be a pretty decent contrib

[2020-07-28 07:14] suyashkumar commented on #91
@courteouselk the v0.4.5 tagged version includes your fix, thank you! Closing this out.

[2020-07-28 07:14] #91 closed

[2020-07-30 22:02] IChocked opened #107 "Setter for Value Types in element.go?"
### Version
Pre-release v1.0.0-alpha.2

### Background
One of the variables for the `Element` struct is `Value`, which is itself a `Value` struct (see [here](https://github.com/suyashkumar/dicom/blob/v1.0.0-alpha.2/element.go#L19)). This struct presumably stores the main data for the element (e.g. patient name). Each Value struct (e.g. `StringsValue`) contains a single variable called `value`. `va

[2020-07-31 03:12] suyashkumar commented on #107
@IChocked thank you for the good detailed request and suggestion!

Indeed you are correct that at some point we need to support for creating elements, mostly to support testing downstream (and a `write` package, which hasn't materialized yet in the rewrite). I'd say right now the alpha is mostly ready to test for data parsing, but some of these other use cases still need to be built out.

This is

[2020-07-31 03:36] suyashkumar commented on #107
Opened up #108 to add such a NewValue function--does this address your use case?

Maybe I can also add a MustNewValue function that doesn't return an error (but panics) if the wrong type is sent in, which might be easier to use in tests since it can return a single Value (and probably not a huge deal).

[2020-07-31 03:37] suyashkumar commented on #107
Also I should probably set a new tag on the rewrite branch after submitting this, cause a bunch of commits have gone in since `v1.0.0-alpha.2`, though `v1.0.0-alpha.2` should still parse dicoms correctly.

[2020-08-02 01:53] wkoszek commented on #13
@suyashkumar We may try it out for you (@IChocked is implementing some changes to our CLI to encompass 1.0 API). While JSON support is great to have, I don't envision us becoming active consumers of this API.

[2020-08-02 01:58] wkoszek commented on #107
@suyashkumar A little bit of a background: our CLI uses your library, and since you've showed me a way to write DICOM, I've encompassed it in `segmed` CLI. Brian's request is a result of us not being able to compile the CLI b/c of the missing support for writing. So instead of addressing writing now, I guess what we could do is to use `dcmutil` and run it on a bunch of data and tell you what we ge

[2020-08-03 17:32] suyashkumar commented on #107
@wkoszek makes sense, thank you for the context! I will make it a priority to include a working package to write DICOMs in the full 1.0 release -- it's just not there in the alpha version yet (just the DICOM parsing component is complete). Would be great if we could test the parsing component of it while everything else is in progress (feel free to use the dicomutil CLI as you mentioned), and once

[2020-08-03 18:20] bbeckrest commented on #85
@suyashkumar It's not necessarily required to be encapsulated into a single go program but having it external would add enough complexity to where it's probably not worth handling right now. For the time being, we've decided to hold off on any development to solve this issue. We're hoping to gather more scans from customers and find out that this encoding is extremely rare - rare enough that we ca

[2020-08-03 18:30] suyashkumar commented on #85
@bbeckrest thank you for the update, I too would love to get a better sense of how often these JPEG LS encoded DICOMs show up in the wild, and if you end up having to go down the route of solving this.

Ultimately, I would like to have this feature be fully supported here, which may require writing a JPEG LS decoder/encoder and submitting it to the Go stdlib (or one of the standard image packages)

[2020-08-03 18:30] suyashkumar commented on #85
I will keep this issue open to track updates on this!

[2020-08-04 04:05] suyashkumar commented on #13
Great to know, thank you @wkoszek!

Closing this out, because the changes to support this have been merged in #98

[2020-08-04 04:05] #13 closed

[2020-08-07 19:29] IChocked opened #109 "ERROR unexpected EOF"
### Version
Pre-release v1.0.0-alpha.2

### Background
Setup a simple test to create a `NewParser` and parse ~2 million DICOMs files. Almost all of them were fine and read correctly without issue, but on 404 of them, one of the following two errors was given:
`ERROR unexpected EOF`, or related, `ERROR error reading tag: unexpected EOF EOF`

I have not yet had a chance to investigate where this err

[2020-08-10 05:29] suyashkumar commented on #109
@IChocked just wanted to say another big thank you to you and the folks at Segmed for helping with some of the library validation for the rewritten release!

Thank you for identifying this issue and documenting it so well. I was able to put together a fix in #110, and will add samples from the provided DICOMs to a test set for the rewritten library in an upcoming pull request :).

Step by step we'

[2020-08-10 05:33] #109 closed

[2020-08-10 05:36] suyashkumar commented on #109
Also, tagged the newest alpha as `v1.0.0-alpha.3` that includes this fix (and several other changes)!

[2020-08-12 16:29] IChocked opened #111 "EOF"
### Version
0.4.5

### Intro
It appears that [issue 109](https://github.com/suyashkumar/dicom/issues/109) from the v1.0 rewrite that we fixed a few days ago is also present in v0.4.5 given the proper circumstances. I encountered this error when attempting to parse a file **without** dropping pixel data.

### Relevant Code
[code]

Adding in the DropPixelData parse option, however, like this `parsed

[2020-08-24 01:21] suyashkumar opened #114 "Create FHIR Imaging Study"
Similar to the proto idea mentioned in #38, it may be useful to users if we can generate a [FHIR imaging study](https://www.hl7.org/fhir/imagingstudy.html) from an input DICOM.

If this feature might be useful to you, please let me know here and thumbs up this comment so we can prioritize it properly!

[2020-09-10 02:15] tbshill commented on #78
Hey Suyashkumar,

Thanks for making this library open source. I have benefited from your work and I would love to help contribute to this project. Is this issue specific to the dicomutil executable or are you looking to introduce flags into the decoder api.

Thanks,
-Braden Shill

[2020-09-27 21:30] suyashkumar commented on #84
So, I need to look into GIT LFS some more for hosting these test files. It seems like repos that use GIT LFS may not work well with go get w/modules (even if the LFS assets are not needed to build the dependency and are only used for tests). I've only just taken a cursory glance at https://github.com/golang/go/issues/39720. This needs to be investigated further, but in the meantime to unblock e2e

[2020-10-08 00:22] suyashkumar commented on #59
@IChocked do you have a data citation for the files you uploaded earlier? I'd like to include them in the testfiles for this repo if possible :).

I think I have a semi-elegant fix for this.

[2020-10-08 00:22] suyashkumar commented on #59
cc: @wkoszek in case you may have the citation handy

[2020-10-08 00:28] wkoszek commented on #59
@suyashkumar We don't know where https://github.com/dragonlet/dicom4android took them from. I found this repo by accident, and it happened to have the exact same problem as the problem we had experienced in production.

[2020-10-08 22:16] jasperdenotter opened #131 "Some files don't have "SamplesPerPixel" header which results in a crash during file parsing"
I found a test file which is publicly available here: https://github.com/dragonlet/dicom4android/blob/master/etc/dbf/CT-MONO2-12-lomb-an2

This file does not have a "SamplesPerPixel" header which causes the parser to return an ElementNotFound error when parsing the pixel data. Wondering if it would be a good idea to use a default value of 1 when this header is not present?

[2020-10-08 22:21] jasperdenotter opened #132 "Write fails when TransferSyntaxUID header not present"
There is a test file here: https://github.com/dragonlet/dicom4android/blob/master/etc/dbf/CR-MONO1-10-chest

This file does not have the "DICM" magic word at the beginning of the dataset so the entire file is parsed with the default transfer syntax of Little Endian Implicit. This means that the resulting dataset returned by the parser does not contain an element for TransferSyntaxUID. When this da

[2020-10-08 22:56] suyashkumar commented on #132
Yeah, we will need to make write changes to support non-standard datasets like this. A couple ways we can go:

1. Write the little endian implicit transfer syntax element as you suggest (but this is technically adding something that didn't exist in the dataset before)
2. Warn that the dataset doesn't have this element, and maybe return an error, unless a certain option is provided (in which case,

[2020-10-08 22:59] suyashkumar commented on #131
Thanks for flagging! I saw this too in testing for issue #59. I will look into it a little more, but when working with clinical datasets, I always like to not assume defaults (unless specified in the spec). If something important to reconstructing the image is missing in the raw data, better to flag to the user.

That being said, we can add an override flag the user can supply where we assume defa

[2020-10-08 23:04] jasperdenotter commented on #132
I agree that 2 may be a better solution since it preserves the exact dataset that the user provided to the write function. I looked quickly at what other toolkits like DCMTK do when faced with non-standard files like this and they fill in the dataset with the default transfer syntax when re-writing. I think approach 2 should suffice though.

[2020-10-08 23:06] jasperdenotter commented on #131
That makes sense. I agree that it may be safer not to assume any defaults unless they are explicitly documented in the standard. It's probably a good idea to just flag the user that the DICOM they are parsing does not conform to the standard

[2020-10-10 23:17] suyashkumar commented on #132
Closed in #135

[2020-10-10 23:17] #132 closed

[2020-10-10 23:17] suyashkumar commented on #131
Sounds good, closing this out as WAI then!

[2020-10-10 23:17] #131 closed

[2020-10-11 04:10] suyashkumar commented on #59
Closing this out due to the fixes in #127. Let me know if we're missing anything here!

[2020-10-11 04:10] #59 closed

[2020-10-16 16:59] bastien-solutions opened #136 "UL management"
Hello @suyashkumar ,

First of all, thank you for your very useful lib (there is a lack in Go on this domain).
I have a question about roadmap, did you plan to manage upper layer network protocol ?

Regards,

B.

[2020-10-26 06:42] suyashkumar opened #138 "Add a TestMain for cmd/dicomutil"

[2020-11-01 05:37] suyashkumar commented on #63
Closing this out as I'm unable to reproduce it with the current `s/1.0-rewrite` branch candidate!

[2020-11-01 05:37] #63 closed

[2020-11-01 05:42] suyashkumar commented on #111
@IChocked I have not been able to reproduce this issue on the `fromissue65.dcm` in the zip in the latest v1.0.0 cut. I do see an error in the artifical dicom you included, but may need to dig more into why that is (could be something non-traditional in the dicom too if it was artificially generated).

[2020-11-01 05:43] suyashkumar commented on #107
Closing this out as I think #108 should address this, along with new full-fledged write support! Writes even for sequences are here once #140 is merged :).

[2020-11-01 05:43] #107 closed

[2020-11-12 05:36] ginuerzh opened #143 "AT is not parsed correctly"
AT(Attribute Tag) is an ordered pair of 16-bit unsigned integers, so it should not be treated as a simple string. I think it can be parsed as uint32 or a formatted string (e.g. '0x00020001', '0002,0001').

[2020-11-27 20:12] suyashkumar commented on #143
Thanks for raising this! Yes, I agree we should parse this VR as an ordered pair of 16-bit integers. This appears to be very similar to a data element tag, so it's possible we can store it in the same container (also it appears that semantically it often refers to a data element tag).

Would you be interested in contributing a fix? If not, I can probably get to it this weekend or next weekend :).

[2020-11-28 09:11] protheusfr commented on #136
+1 this could really make this dice lib as an alternative to dcmtk or dcm4che.

[2020-11-29 01:44] suyashkumar commented on #136
Thanks for the suggestion and the kind words! I've been thinking about putting something like this on the roadmap (maybe more offering a dicomWEB client and/or server package that work well with this library).

If possible, can you share a little more info about both of your usecases, and what functionality in particular you would find most valuable?

[2020-11-29 10:50] bastien-solutions commented on #136
Of course, as you know the DICOM standard does not only specify a file format but also a network protocol.

The latter is used, for example, by all medical imaging devices (modalities), PACs, viewers, analysis consoles, etc. to communicate with each other.

The WEB version (DICOMWeb / WADO) has been emerging for a few years mainly for Web uses (as its name indicates), but 99% of medical data excha

[2020-11-30 05:49] suyashkumar opened #147 "Rewrite Generated Tag Package"
For sometime, I've wanted to refactor the generation code to autogenerate the tags in the tag package. Can probably switch the generator to use the innolitics JSON dump of the DICOM standard for this, somewhat similar what I did in https://github.com/gradienthealth/dicom-protos

[2020-11-30 10:34] ginuerzh commented on #143
I prefer to decode it into uint32, if you can accept it, I will create a PR this week.

[2020-12-03 13:39] bastien-solutions opened #148 "Manage Date / duration type"
the dicom standard uses massively temporal types (encoded in String), it can be useful to add methods to obtain directly `time.Time` or `time.Duration` in Go.

Proposal (in `element.go`) :

[code]

[2020-12-07 07:20] favadi commented on #15
Should be closed by #45.

[2020-12-07 07:21] favadi commented on #27
Should be closed as we migrated away from dep (#45).

[2020-12-08 04:10] suyashkumar commented on #143
@ginuerzh we would want to parse it into a [`ValueType`](https://godoc.org/github.com/suyashkumar/dicom#ValueType) for it to fit into the framework. Currently, I parse uints into higher-level Go integers which are easier to work with. So that is one option to at least start out with!

From there, a caller can always convert back to uints or a `Tag` struct as needed.

Feel free to contribute a fix

[2020-12-14 01:37] #83 closed

[2020-12-14 01:50] suyashkumar opened #152 "Use VR enums throughout the code"
In some cases we use string representations of the raw value representation, but we should move all of these to enumerated VR cases particularly once #147 is done.

[2020-12-15 03:38] #143 closed

[2020-12-15 04:00] suyashkumar commented on #148
Hi there! Thanks for the suggestion, I think it's a good idea to help folks work with native Go dates and durations.

I'd like to think a little about where this should live. I'm wondering if maybe this should be inside a utility subpackage (something like `pkg/dcmtime`) since the top level library API is already becoming somewhat complicated, and I'd like to simplify. Also, this logic may be usef

[2020-12-15 04:18] suyashkumar commented on #35
This was done in #97.

[2020-12-15 04:18] #35 closed

[2020-12-15 14:02] bastien-solutions commented on #148
Agree, look better to keep only Go base types in default package and move time.Time, time.Duration, etc.. in an extension.

[2020-12-18 17:47] #27 closed

[2020-12-19 22:10] suyashkumar opened #161 "readNativeFrames Performance Optimizations"
This is an issue to track various investigations and changes to optimize readNativeFrames implementation, which I noticed in `pprof` profiles seemed to take up a majority of the CPU time in parsing DICOMs with Native pixel data.

More comprehensive tests and benchmarks were added in #160 to aid with this.

[2020-12-19 22:21] suyashkumar opened #162 "Add option to not read PixelData"
Users should be able to read just the metadata (and not waste time reading the PixelData if they are not interested in it).

[2020-12-19 22:31] suyashkumar commented on #161
#157 led to some significant performance improvements by reducing slice allocations.

[2020-12-19 22:43] suyashkumar commented on #161
Also, on this subject, @kaxap has observed that eliminating calls to `binary.Read` may reduce slice allocations and improve performance a bit, so that's something we should try. In particular, doing something like the following to read uint8, uint16, uint32s, etc:

[code]

The main advantage here is reusing the buffer slice (since bitsAllocated should be constant), instead of binary.Read creating

[2020-12-20 00:34] kaxap commented on #161
it is also possible to lazily load frames from file which will result in smaller memory footprint (some dicom files can be gigabytes in size)

[2020-12-20 01:47] kaxap opened #164 "Frame.GetImage returns just black or just white image instead of rendered frame"
This is due to lack of output normalization:
[code]
This [link](http://dicom.nema.org/medical/dicom/current/output/chtml/part03/sect_C.11.2.html#sect_C.11.2.1.2) outlines some info on lookup tables, but it's currently impossible to get access to tags from within NativeFrame.

Temp fix is to obtain min-max values with additional loop and then normalize pixel values:

[code]

[2020-12-20 04:46] suyashkumar commented on #164
Yes, this is a known behavior (see #2 for autoscale of pixel values issue). The reason it is done as it is now is to preserve the clinical data in the PixelData (which often times map to actual measurements like Hounsfield units). This currently allows to caller to rescale as appropriate for their context.

For example, imagine a caller that is a image viewer. The user will input/change some value

[2020-12-20 04:46] suyashkumar commented on #164
There may also be value in adding a simple normalization for the `dicomutil` utility to start with

[2020-12-20 05:39] suyashkumar commented on #161
This is somewhat along the lines of #162--which is allowing interested parties to not read the pixel data, or perhaps, to pause reading before actually parsing the PixelData. We can also read in the bytes and do nothing with unpacking them until a user wants the image.Image, which is _almost_ what we do today. I'm leaning towards something similar to current behavior + an option to not read PixelD

[2020-12-20 19:23] kaxap commented on #164
something like `GetNormalizaedImage(frame *NativeFrame) (image.Image, error) {...}` ?

[2020-12-20 19:27] kaxap commented on #161
Most of the cases all I want to do is to get some tags and a single frame rendered (for a thumbnail or a preview). Lazy mode (when we save offsets in file for each frame instead of reading all of them into RAM) looks very appealing in this case.

[2021-01-04 23:30] suyashkumar opened #174 "Introduce new error wrapping syntax in library"

[2021-01-04 23:53] suyashkumar opened #176 "Remove gomock dep"
Go mock dependency probably not needed, as for our use cases we can typically test the structs directly, which is preferrable (use the real struct instead of a mock).

[2021-01-05 00:20] suyashkumar opened #177 "dicomutil: don't pretty print pixeldata"
No need to pretty print pixeldata values in the default string representation for PixelData imo. The JSON representation should continue to dump out all the values, however.

[2021-01-05 00:22] suyashkumar opened #178 "dicomutil: print help information if no args specified"

[2021-01-21 03:12] luxsa opened #179 "error wrap in readTag function"
### When wrap an error, it's better to use %w than %v

[code]

[2021-01-21 06:33] suyashkumar commented on #179
+1 I agree and think we need to go back through the library and add in support for wrapped errors (see the existing issue I opened to track this: #174). Going to close this as a duplicate of that issue. Thank you!

[2021-01-21 06:33] #179 closed

[2021-01-26 11:14] luxsa commented on #37
Migrating DataSet to use map also will make it easier to convert a DataSet to DICOM JSON model and the tag key will be sorted.

[https://golang.org/pkg/encoding/json/]()
`Map values encode as JSON objects. The map's key type must either be a string, an integer type, or implement encoding.TextMarshaler. The map keys are sorted and used as JSON object keys by applying the following rules, subject to

[2021-02-04 06:47] cocosip opened #181 "Dicom network protocol support"
Is there any plan support dicom network ?

[2021-02-11 11:49] bastien-solutions commented on #164
any update regarding this issue ?

[2021-02-22 19:12] bastien-solutions commented on #164
Hi @kaxap

In the meantime, I've tried to apply you're quick fix but it seems I've miss something, how can you `n.Data[j] > max` or `n.Data[j]-min` where both are `[]int` ?

[2021-03-02 21:50] bernardopericacho commented on #164
I am experiencing this issue too. I am basically trying to generate a png from the pixel data. This worked for me for frames that
are not encapsulated.
[code]

for encapsulated frames, I tried to get the bytes and decode the image
[code]
and basically it said that it doesn't have the right format `Error encoding image. unsupported JPEG feature: unknown marker`
although I can see the image properly

[2021-03-03 01:12] bbeckrest commented on #164
@bernardopericacho see https://github.com/suyashkumar/dicom/issues/85 for open issue regarding parsing encapsulated images

[2021-03-03 06:13] suyashkumar commented on #164
Yep, as @bbeckrest said, the second issue you're facing @bernardopericacho is #85 -- namely that lossless JPEG decoding doesn't yet have native support in Go. At some point I may take this up myself and see if I can write a decoder in Go, but I'll have to see when I have time for that (and also if there's other interest outside the DICOM community to help drive that).  Note that other encapsulated

[2021-03-10 21:38] bpeake-illuscio opened #183 "Dataset.FlatIterator() leaks feeding goroutine if not exhausted."
Hello!

While writing some code that uses Dataset.FlatIterator(), I realized that unless the Iterator is exhausted, a goroutine is leaked. That is, the goroutine feeding the iterator will never exit.

Here's a compact example:

[code]

Now let's look at our output:

[code]

You can see that even after garbage collection, all of the routines feeding our aborted iterations are still running. This me

[2021-03-11 05:32] suyashkumar commented on #183
Hi! Thanks for raising the issue and for posting a great minimal example. I agree that this is something we should address, particularly since that Go routine holds a reference to the read dataset (so the dataset presumably isn't cleaned up during GC even when it's not needed).

Semantically, I think using a context is reasonable though it's easy for the caller to mess up which I'm not a big fan o

[2021-03-11 18:18] bpeake-illuscio commented on #183
I think your first instinct of moving to a stateful iterator is the better approach, personally. Implementing a Closer adds to the amount of bookkeeping the caller needs to keep track of, and will likely be confusing to a caller as we aren't really connecting to any sort of external resource.

Whereas with a stateful iterator you can just let it go out of scope and the garbage collector will do it

[2021-03-11 19:51] bpeake-illuscio commented on #183
Theres also a third option:

Rather than implementing this as an iterator, we could just return a flattened slice of elements, so the signature is something
more akin to:

[code]
Where all the elements are pre-collected for you. Because no io is involved, it's not clear to me that using a more complicated iterator approach will be so much more performant that it will really make a difference.

[2021-03-13 18:43] suyashkumar commented on #183
I considered this as well, however one consideration is that this gives the caller a static flattened copy of element pointers. It's possible if the underlying data set changes that this flattened copy is out of sync. Luckily if any of the individual elements change its fine (as we're holding pointers). Perhaps it should be common sense for the caller to watch out for situations like this.

in any

[2021-03-13 20:09] suyashkumar commented on #183
I've put up a draft in #184. I've added `FlatStatefulIterator` and added an ExhaustElementChannel that can be used to exhaust the channel in a defer for the channel-based API. I think we should consider deprecating the channel API, but it is in use today, and some consumer depend on the channel (e.g. having multiple processing goroutines read elements off of the channel). Likely would want to eval

[2021-03-13 20:14] suyashkumar commented on #183
At some point either we should deprecate the channel-based API, or we should rename it so that it's not seen as the default for iteration (e.g. name it FlatChannelIterator or something). For most usecases, the stateful iterator should be sufficient, but having the channel approach around may still be useful for some users.

[2021-03-13 22:06] bpeake-illuscio commented on #183
I think it makes sense to deprecate the channel version over time. I feel like concurrency-awareness should probably be left up to the caller, and be considered out-of-scope for the lib. Callers can implement distributing the results of the iterator over a channel.

[2021-03-13 23:07] bpeake-illuscio commented on #183
Also let me know if I can help in anyway! (code review, et)

[2021-03-14 05:56] suyashkumar commented on #183
yeah, as said before I think deprecation makes sense, though I think it would be nice to phase it out over the next 2 releases as mentioned above. I may also add some benchmarks to do some comparisons, but copying a bunch of pointers shouldn't be a big deal.

Feel free to take a look at the PR if you have any thoughts, my plan is to take another look late tonight or tomorrow before merging!

[2021-03-14 05:57] suyashkumar commented on #183
Also, thank you again for raising this! Appreciate your contributions and feedback on the library!

[2021-03-14 06:13] bpeake-illuscio commented on #183
No problem, it's a great lib and I'm happy that I can contribute to it!

[2021-03-14 07:42] suyashkumar opened #185 "GitHub action to generate GoDoc Artifacts on PRs/Commits?"
It seems like a slight pain to do this, but it might be useful to have a GitHub action generate HTML GoDoc on PRs / code pushes, so that reviewers can easily preview what the GoDoc will look like.

It looks like the easiest way to do this is with wget sadly (if you want all the nice styles and such applied in the html).

[2021-03-14 07:44] suyashkumar commented on #185
More details on GitHub actions artifacts: https://docs.github.com/en/actions/guides/storing-workflow-data-as-artifacts

[2021-03-16 06:10] #148 closed

[2021-03-16 06:22] #183 closed

[2021-03-17 02:19] bpeake-illuscio opened #186 "Datetime.NoOffset field is parsed incorrrectly"
Hello!

Just realized I accidentally let a bug slip into #171 .

Originally I was going to have a Datetime.HasOffset field, which would be true if the DICOM DT value had an offset specified.

Near the end of working on the PR, I decided it would be better to have that field be safe-by-default. That is, if you were to just specify a time and precision, the DT value would include the tz offset by de

[2021-03-23 23:21] bpeake-illuscio opened #190 "dicom.Write fails on 'SmallestImagePixelValue' with VR of 'US'"
Hello!

I've run into an issue when writing DICOMs which I have modified. In my source DICOM the SmallestImagePixelValue has a VR of 'US'. When I try to write it to a buffer, I get the following erro:

[code]

While debugging, I found an internal error with some more contex:

[code]

However, this is not correct, the DICOM spec [defines the VR of 'SmallestImagePixelValue' as 'US or SS'](https://di

[2021-03-24 01:17] bpeake-illuscio opened #191 "dicom.Write() fails on nested dataset where 'ItemDelimitationItem' has a blank VR when dicom.SkipVRVerification() is used."
Hello!

I'm having an issue writing a dicom that I've read in.

Here is some example code, where I make no changes at all to the file:

[code]

I get the following error:

[code]

The weird thing is that when I do this:

[code]

It doesn't get find that item. [From the Dicom](http://dicom.nema.org/medical/dicom/2018e/output/chtml/part05/sect_7.5.2.html) Spec it looks like this is a special element

[2021-03-24 06:25] #191 closed

[2021-03-24 22:41] bpeake-illuscio opened #193 "Bug: Write() replaces all VRs for unknown tags with 'UN'"
Hello,

I came across another Write() bug today. Currently with the way VRs are checked, if an element's tag is not known (i.e., it isn't contained in our tag dict), Write() falls back to using 'UN' as the VR for the element:

[code]

This causes issues with Private Element encoded with an Explicit Transfer Syntax. Since the Private element's VR's are known, Write() should keep them in-place when

[2021-04-02 12:39] bastien-solutions opened #197 "Add tags `PerformingPhysiciansName` and `ScheduledPerformingPhysiciansName`"
In tag_definitions.go add the following tags :

- PerformingPhysiciansName (0008,1050)
- ScheduledPerformingPhysiciansName (0040,0006)

[2021-04-02 12:56] bastien-solutions commented on #197
My bad, the Tag are present but whiteout the "s" of Physicians.

[2021-04-02 12:56] #197 closed

[2021-04-02 21:48] bpeake-illuscio opened #198 "Round-tripping through dicom.Parse()/dicom.Write() does not yield bit-for-bit identical files."
Hello!

Opening an issue with some findings after kicking the tires a little more around the write feature. I bumped into this when running some code that reads in a dicom, scrapes some data, then writes it out to a storage location. I am migrating this application from python, where I use [pydicom](https://pydicom.github.io/) to do the task currently. The Go version is much faster! So that's good

[2021-04-02 22:34] bpeake-illuscio opened #199 "Bug: OW values have leading 0-bytes equal to their vl"
Hello!

As mentioned in #198, I've found some odd behavior with how OW values are either being parsed or written:

Here is quick example:

[code]

As you can see, on read-in the value has 4 extra zero-bytes at the head.

I've isolated the issue to here (read.go, line 371):

[code]

When allocating the buffer for the OW value, the internal []byte is created with a length equal to the value length.

[2021-04-02 23:11] bpeake-illuscio commented on #198
Just posted #200 and it's specific issue #199, which fixes the OW-leading-zeroed-bytes-issue.

[2021-04-03 19:15] bpeake-illuscio commented on #198
Just tried merging #200 and #194 into the [round-trip test branch](https://github.com/illuscio-dev/dicom/tree/testing/round_trip) and that took care of the element equality tests not passing. All that's failing now is the checksum tests, which are less concerning to me, though still worth investigating I think.

Also, let me know if you would like me to open up a PR for that branch. I think the ro

[2021-04-04 11:42] suyashkumar commented on #198
Hi! Thanks so much for spending time on this. The current write package should probably be considered more of a "draft"--lots of tires to kick. It was a known issue (that simplified some internal assumptions) that reading and then immediately writing out DICOMs would not be byte-for-byte equal, but they should be conformant DICOMs.

One of these assumptions is that we would _always_ write out file

[2021-04-04 11:50] suyashkumar commented on #198
Regarding the tests--I agree we should have some flavor of that.

I'm not sure if we need to test bit-for-bit identity yet (I don't think that will pass). We do already have a write test that tests [roundtripping within this library](https://github.com/suyashkumar/dicom/blob/8494b8d69903e329beeff4306605ded5dd702a7a/write_test.go#L28) (e.g. write out a known dataset, and then read it back in and se

[2021-04-04 22:10] bpeake-illuscio commented on #198
Thanks, that's good context to have. Do you think it would be worth putting that somewhere near the beginning of the README and / or Docs as a warning to developers looking at this lib for DICOM writes? Since the lib is 1.0 some users may find it surprising, but a warning near the beginning on the write feature would make it quick to discover.

Totally, I think it's good to have targeted tests lik

[2021-04-10 15:52] #199 closed

[2021-05-04 11:54] DanielHeath commented on #56
I'm evaluating it for use on radiopaedia.org - hoping to have a prototype of "quite fast" image extraction from dicom files working soon.

It's looking promising, though the sheer variety of dicom formats ensures I'll have plenty of bugs to investigate.

[2021-05-18 16:26] bbeckrest commented on #161
Regarding memory usage, we've recently had our server (32GB RAM) run out of memory while attempting to parse a 1GB zipfile containing dicoms.

Using `pprof`, I've benchmarked parsing a 55MB zipfile containing 222 dicom images (each image 526KB, total ~117MB unzipped) and noticed `readNativeFrames()` ballooning memory usage to ~1.74GB.

Is this high memory usage (15x) expected?

![Screen Shot 2021-

[2021-05-18 16:35] suyashkumar commented on #161
Interesting, thank you for reporting! I don't think this is expected. Out of curiosity, what version of the library are you using? Does it include some of the recent optimizations included in this issue?

I'll take a closer look tonight and dive deep if needed this weekend.

[2021-05-18 17:08] bbeckrest commented on #161
Thanks for looking into this! I don't have much experience profiling performance so I appreciate the help.

Our prod server that ran out of memory is using v0.4.5, which obviously does not have the recent optimizations.

However, my benchmark is using v1.0.3. We were hoping that upgrading the library would solve the issue.

[2021-05-24 03:28] suyashkumar commented on #161
Thanks! So, something that sticks out to me is that we are [packing smaller integers into the possibly larger go `int` type](https://github.com/suyashkumar/dicom/blob/04a39fac02856a22ac1ac9663a790d52594db99e/read.go#L246-L252) in the `NativeFrame`. This is done in order to have a clean API with the same static types for the caller no matter what the underlying integer type might be (e.g. 8-bit, 16

[2021-05-27 16:56] bbeckrest commented on #161
Reading through the [DICOM spec](http://dicom.nema.org/medical/dicom/current/output/html/part05.html), it appears that allocating more than 32 bits is rare. If I'm understanding correctly, 64 bits are only used for Double Float Pixel Data.

FWIW, I've looked at ~90 chest CT scans that have been uploaded to our web app by doctors and they all allocate 16 bits.

Our use case involves parsing a CT sc

[2021-05-28 20:22] suyashkumar commented on #56
@DanielHeath hi! That's really exciting, I'd love to help out however I can.

Indeed, JPEG can be annoying in DICOMs. We should support anything the Go stdlib can decode. Which sadly, does not include lossless JPEG (here's the open issue on that one: #85). If you're interested in working together on writing a lossless JPEG decoder in native Go, let me know. That's something I've been toying around

[2021-05-28 20:37] suyashkumar commented on #161
@bbeckrest That is my understanding as well re: the size of the pixel data.

Regarding the NativeFrame interface I proposed in https://github.com/suyashkumar/dicom/issues/161#issuecomment-846706345 I think it's reasonable but keeping in mind my performance comment.

With my performance comment, what I meant was calling `GetPixel() int` in certain circumstances will allocate a fullsize integer. In

[2021-06-03 14:41] bbeckrest commented on #161
@suyashkumar Yeah the proposal in https://github.com/suyashkumar/dicom/issues/161#issuecomment-846706345 would be helpful for my use-case since the volume could be stored as `uint16`.

Yesterday, I attempted to implement it but got stuck and realized I didn't really know what I was doing ([here's my attempt](https://github.com/CustomOrthopaedics/dicom/tree/feature/nativeframe-interface)). It's a d

[2021-06-04 00:29] wkoszek commented on #56
@suyashkumar We had some loseless JPEG. We'd like to participate in that effort. Do you have any ANSI C reference implementations for this? Last time I looked, there was something called "Jasper JPEG" that had some code for doing loseless JPEG.

[2021-06-16 07:14] iamatsundere opened #205 "How can I edit value of a tag?"
As the question, how can I edit the data in the tag value?

[2021-06-23 04:21] #186 closed

[2021-06-23 08:29] favadi opened #207 "Failed to parse DICOM file with TransferSyntaxUID JPEG 2000 (Lossless only) (1.2.840.10008.1.2.4.90)"
I have a DICOM file, that embed  JPEG 2000 (Lossless only) image, could not be parsed by `suyashkumar/dicom` but can be view as normal by Horos.

It can be reproducible with following codes:

[code]

The error:

[code]

Examining the file with `dcmdump` command:

[code]

Debugging shows that the error happens when parser try to read the pixel data in https://github.com/suyashkumar/dicom/blob/afbab

[2021-06-25 02:15] #193 closed

[2021-07-16 00:56] suyashkumar commented on #161
hi @bbeckrest! So there is another issue that may somehow be related to this (though I'm not exactly sure how or why). For files that have a weird bytesAllocated, we ended up not reading the pixel data correctly, which I'm addressing in #210. Another user of the library was experiencing around 1.7GB of memory being allocated (that wasn't being cleaned up properly by the Go gc) and their dicom was

[2021-07-16 01:07] suyashkumar opened #211 "Support arbitrary BitsAllocated (beyond 8, 16, 32)"
As discussed in #210, it might be worth trying to support BitsAllocated in ReadNativeFrames beyond those supported by `binary.ByteOrder`. At the moment we now return an error for unsupported values.

It's probably worth understanding what non-standard BitsAllocated might mean, and if the standard has any guidance.

[2021-08-22 22:21] suyashkumar opened #213 "Look closer at the bitsAllocated = 1 case for BigEndian Data."
In #212, the implementation assumes LittleEndian order on reading the data in the code, but the tests with data written out using BigEndian data (written using binary.Write) pass with no issues (perhaps because the reader is BigEndian aware and running on a LittleEndian machine?). Either way, this is a placeholder to remind me to take a closer look at this.

[2021-09-16 03:58] iamatsundere opened #215 "DICOM is parsed OK by pydicom, but EOF in this library"
Hi, I got some issues when parsing DICOM file using this library. They are can be: EOF error or uint16 error... Do we have any further improvement?

[2021-09-17 17:52] lafith opened #216 "EOF error on using Parse function"
Hi,
I am trying to parse a dicom file recieved as a byte array, send from [Dicomweb-Client](https://dicomweb-client.readthedocs.io/en/latest/introduction.html).  How should I use this function correctly?
![Screenshot from 2021-09-17 23-14-14](https://user-images.githubusercontent.com/39316548/133832216-c7a28ef4-a681-4750-8157-26e01ab9d715.png)

[2021-09-19 21:19] suyashkumar commented on #215
Hi there! What version of the library are you using? Do you have an open source or freely available DICOM that can replicate the issue? Are there any other details you can give on what problems you're running into? Please don't post any real identified health information here, but any additional info you can provide would be helpful. You can also set the `debug` tag when building to let the librar

[2021-09-19 21:33] suyashkumar commented on #216
Hi there! Can you try this with a DICOM we know works with the library (for example one of the ones in here: https://github.com/suyashkumar/dicom/tree/main/testdata).

Also--I'm not super familiar with DICOM servers, but I think it might be possible that you need to grab some HTTP headers for Content-Length (which could prevent you from having to do io.ReadAll), Content-Type and Content-Encoding (

[2021-09-19 21:52] suyashkumar opened #217 "Update the Parse API to potentially take ParseOptions"

[2021-09-22 16:57] lafith commented on #216
I tried with a file from [https://github.com/suyashkumar/dicom/tree/main/testdata](https://github.com/suyashkumar/dicom/tree/main/testdata), still the same error.

[2021-09-27 11:44] marineotter opened #218 "Cannot handle cases where a "Specific Character Set (0008,0005)" starts with "\"."
IR6 may be omitted at the beginning of a specific character set.
For example, "\ISO_IR 13" is acceptable.

[2021-09-28 12:31] lafith commented on #216
I have solved the issue. As per this issue-(MGHComputationalPathology/dicomweb-client#54), DicomWeb client was sending data as a [Multipart HTTP  Response](https://www.w3.org/Protocols/rfc1341/7_2_Multipart.html). One can use repos like [mime/multipart](https://pkg.go.dev/mime/multipart#NewReader) to handle such responses.

[2021-09-28 12:31] #216 closed

[2021-10-08 21:28] klibertowski opened #220 "Error Parsing DICOM with implicit transfer syntax and non-standard tag"
I'm getting an error `error reading value  unexpected EOF` when attempting to parse a DICOM.

<img width="837" alt="Screen Shot 2021-10-08 at 4 47 28 PM" src="https://user-images.githubusercontent.com/35229843/136623367-0ad3de99-a459-48aa-a98c-1011cdeaa3d9.png">

After doing a bit of debugging, I determined the problem is occurring because the DICOM has an implicit transfer syntax and a tag that i

[2021-11-01 16:26] klibertowski commented on #220
I tried anonymizing the DICOM I was getting the problem on using Osirix and DicomBrowser. However, when I did this I was no longer getting the error when trying to parse it. The DICOM editing programs kept changing the VL on the tag I was getting the issue on from undefined to a set value when exporting for some reason. So it seems we might need to find another DICOM for testing or make our own as

[2021-11-04 01:52] wkoszek opened #221 "Any interest sponsoring native JPEG 2000 image/jpeg implementation?"
I know there are other folks in other companies using this library, and I wondered if there'd be some interest in sponsoring the work to get JPEG2000 supported natively in Go. Reply to this thread if you're interested, or ping me via wkoszek@segmed.ai privately. @suyashkumar I know you were interested too, so I hope you don't mind me using this tracker, but I know large number of folks in medical

[2021-11-05 01:24] siddharthab commented on #41
Hello, just a quick note to say we are getting ready to archive https://github.com/grailbio/go-dicom and https://github.com/grailbio/go-netdicom. For go-dicom, we will point new users to this project, and for go-netdicom, we will point users to this issue to track any progress on DIMSE that is compatible with this project.

[2021-11-12 21:44] klibertowski commented on #220
I had some time to spend on this and was able to get an [anonymized DICOM](https://github.com/suyashkumar/dicom/files/7530551/test_dicom.dcm.zip) with the correct tag info by manually editing some values. The DICOM should be safe to use without any licenses.

I could write some tests and put in a PR for this issue if you'd like?

[2021-11-16 00:15] suyashkumar commented on #220
Thanks @klibertowski! hm, I think it might be safer to not use that particular DICOM without an explicit license from the owner, even if de-identified. However, writing unit tests for the fix (and confirming it works on the dicom if you run it locally) I think would be sufficient at this time.

Thanks again!

I took a [tiny stab at this earlier](https://github.com/suyashkumar/dicom/compare/s/read-

[2021-11-16 15:28] klibertowski commented on #220
Hi @suyashkumar, I'll let you send the PR whenever you have time since you started working on it. Thanks for your help on this!

[2021-11-17 10:53] favadi opened #222 "ParseSpecificCharacterSet: Unknown character set ''. Assuming utf-8 #189"
Steps to reproduce:

* acquire a DICOM file with empty `SpecificCharacterSet` value. This is what it looks like when examined with `dcmdump` command
[code]
* try to parse the file with `dicom.ParseFile`, could be reproduce with following file.
[code]

Expected behavior:

* test passed

Actual behavior:

* test failed with following error

[2021-11-17 10:56] favadi commented on #222
I think it should be fixed with https://github.com/suyashkumar/dicom/pull/219.

[2021-11-17 23:58] #218 closed

[2021-11-18 02:19] favadi commented on #222
I confirm that the issue is fixed after #219 merged.

[2021-12-02 16:30] ematvey opened #224 "Add option to return Reader for PixelData element"
We currently are using DCMTK to
1) read certain meta tags;
2) write anonymised image by replacing `PatientBirthDate` and `PatientName` with non-identifiable value.

Current issue is 1+ Gb DICOMs which encode a large sequence of frames. It causes an unreasonable amount of CPU and RAM to read `PixelData`s from such DICOMs, simply to write them to an anonymised file without any processing.

This libr

[2021-12-08 23:51] suyashkumar commented on #224
Interesting use case! I'm not sure if we could do this safely without leaving the DICOM file open. E.g. you'd call parse, and under this option parse would finish, but one of the elemnts would have an io.Reader to read in the whole pixeldata? Maybe this could be done on demand (e.g. with a file offset stored in that element, so when you read from the reader, we reopen the file and start fetching t

[2021-12-09 00:05] suyashkumar commented on #224
Feel free to suggest an API if you had something specific in mind. Sounds like you were looking for something like I initially mentioned--some API where the returned element from ParseNext() has an io.Reader to the PixelData you can use to dump the data to your output file. As mentioned, closing the input correctly in a system like this would be something to think about. In situations where the el

[2021-12-13 09:44] gedw99 opened #226 "DICOM and other parts of the spec"
https://github.com/Alvearie/imaging-ingestion/tree/main/docs explains that aspects

The repo also has golang and nats and cloud events integration for it.

[2021-12-17 18:01] suyashkumar commented on #224
I saw there was a PR I think that may be related to this, and put some more thoughts there as well: https://github.com/suyashkumar/dicom/pull/223#pullrequestreview-835506074

[2021-12-17 18:18] suyashkumar opened #227 "Consider Optimization to hold onto only essential elements in Parser"
When using the element-by-element API in the Parser, we probably don't need to hold the whole dataset in p.dataset (as I alluded to a bit in #224 and elsewhere). We really only need to hold onto some subset of elements that we need to parse later elements (like PixelData). The rest, we return to the user and the user can decide what they wish to do with them (they may wish to write them out somewh

[2021-12-17 19:31] suyashkumar commented on #227
The basic implementation is pretty simple (put something quick up here that I need to cleanup, and add better benchmarks for later https://github.com/suyashkumar/dicom/compare/s/parser-optimize?expand=1), but in the default case where ParseFile or Parse is called (where we need to build and return the entire dataset anyway) we may end up using slightly more memory where we end up storying an addit

[2021-12-24 07:27] ongrui opened #228 "worklist"
Are there any plans to develop worklist services?

[2021-12-29 03:33] krishpranav commented on #220
hey @everyone I am facing this issue while parsing dcm to jpg

- code:
[code]

[2021-12-29 03:34] krishpranav commented on #220
- it is giving the output file as image_0.jpg

[2021-12-29 03:34] krishpranav commented on #220
![image_0](https://user-images.githubusercontent.com/68631244/147624955-6454fcba-efed-4948-ba82-0297f3f92b15.jpg)

[2021-12-29 03:34] krishpranav commented on #220
![2](https://user-images.githubusercontent.com/68631244/147624974-6112ff5b-c39f-4784-86e7-763936f39a2b.jpg)

[2021-12-29 03:35] krishpranav commented on #220
it is the output by running the code

[2021-12-29 03:35] krishpranav commented on #220
I used another converter online

[2021-12-29 04:00] suyashkumar commented on #220
Hi @krishpranav are you getting the EOF error reported earlier, or just an apparently dark image?  The image appearing black may be working as intended, because we do not apply any pixel value auto scaling yet: https://github.com/suyashkumar/dicom/blob/87c7d7e41fca7227af3582174c5933fb91981eb7/README.md?plain=1#L57

Also, regarding the images you posted, I assume you have the license to post those

[2021-12-29 04:13] krishpranav opened #229 "image parsing issue"
hey @suyashkumar I am facing a issue:

- if I run the code:
[code]

it is giving an output image as jpg but it is full dark

[2021-12-29 04:13] krishpranav commented on #229
reference:
![image_0](https://user-images.githubusercontent.com/68631244/147626841-b0b2cabf-3746-4eb9-84f3-6f343b6b8fdb.jpg)

[2021-12-29 04:14] krishpranav commented on #229
if I use other converter to convert the dicom file I get the result:
![2](https://user-images.githubusercontent.com/68631244/147626865-4130b8be-1daf-420c-a247-70af99b05b01.jpg)

[2021-12-29 04:14] krishpranav commented on #229
can you help me to fix this issue

[2021-12-29 04:20] krishpranav commented on #229
[code]

[2021-12-29 04:21] krishpranav commented on #229
I have saw you comment after going to (in Preview on mac, go to Tools->Adjust Color). what to do any ideas??

[2021-12-30 03:23] arunjoshtech opened #230 "DICOM STORAGE SCP Feature"
Dear sir,
Along with this kindly implement  Storage SCP to act as Dicom image receiver to make this project completely useful as Dicom PACS server.

[2022-01-28 00:05] chuijh opened #231 "Read/write of SL tag"
Dear all, great work. I have an application using this library to alter a few UIDs. When I load the altered dicom instance using pydicom, pydicom erred with this message:

[code]

Here is the tag before and after:
(0019,1026) SL 357                                      #   4, 1 DegreesOfAzimuth

(0019,1026) SL                                          #   2, 0 DegreesOfAzimuth

It looks like the ta

[2022-01-28 03:48] suyashkumar commented on #231
Hi there! At first glance, I wonder if this has to do with this tag being a private tag and the dataset being in an implicit transfer syntax. In this situation, when the dicom parser reads your DICOM and encounters this private tag, it doesn't know what VR to read it in as (because it's a private tag we don't have in our dictionary), so it uses a fallback. I actually have a [wip branch](https://gi

[2022-01-28 04:31] suyashkumar commented on #231
So by default I don't think the above will address your issue, because it only applies to UN tags with an undefined length VL.

In any case, I'll see if I can take a closer look at this later this week to see what the best way to handle unknown private tags like this might be. Ideally what should happen is we should blindly read the value bytes (maybe as OW) and write them back on the other end if

[2022-01-28 05:31] suyashkumar commented on #231
[Here's a branch](https://github.com/suyashkumar/dicom/compare/s/231?expand=1#diff-d380302cec9d064fa613100fa2fe944a1a205edd90cf1d8e635b6ae530a7bd1cR52) where I tried to repo one side of this. I created an element with UN VR with a stringList value type, which is what [_should_ be read in by the parser for an unknown tag](https://github.com/suyashkumar/dicom/blob/87c7d7e41fca7227af3582174c5933fb919

[2022-01-28 21:06] jabillings commented on #231
In this case it looks like the length is indeed defined for the element even though its VR is unknown.
Wouldn't it make more sense to treat a UN element with a known length as a VRBytes value type, rather than a VRStringList Value Type?

From the [DICOM spec](https://dicom.nema.org/medical/dicom/current/output/html/part05.html#sect_7.1.3):

[2022-01-28 21:21] suyashkumar commented on #231
Sorry if I wasn't clear last night--the default choice of stringlist or bytes aside (stringlist as a default was a legacy choice from a reference implementation, though it's more or less the same as bytes with some caveats, and maybe should be revisited), I can't reproduce this behavior of data being _removed_ in the tag based on tests in the branch above. The example you show shows the VL changin

[2022-01-29 00:11] jabillings commented on #231
No, no errors on the Write() call.

I think you did reproduce the issue with the second test in your branch. It gets back to the issue I mentioned with treating unknown, defined-length VRs as string lists.

To reproduce:
1. add the following debug statement [here](https://github.com/suyashkumar/dicom/blob/main/read.go#L456) and [here](https://github.com/suyashkumar/dicom/blob/main/read.go#L469)

`

[2022-01-29 02:06] suyashkumar commented on #231
Ah, I see what's going on. While the VL itself is not changing (the ValueLength is still written out as 4), trailing zeros (as seen in the string interpretation) are trimmed. I think moving to handling these as bytes (OW perhaps) as you suggest and I alluded to earlier in https://github.com/suyashkumar/dicom/issues/231#issuecomment-1023877914 is probably the best way to go.  I will also say, perha

[2022-01-29 02:44] suyashkumar commented on #231
quickly put together #231 which I think should address this issue. Will kick the tires some more before merging, lmk if any thoughts!

Thanks!

[2022-01-29 03:36] #231 closed

[2022-01-29 03:38] suyashkumar commented on #231
Thanks again for raising this issue! Are y'all able to help test these new changes against your original use case? I can also cut a release version to include this change as well, if helpful!

[2022-01-29 06:12] jabillings commented on #231
It seems to have worked for the original use case, thanks!

Out of curiosity, why did you decide to interpret the unknown values as OW instead of OB?

[2022-01-29 06:29] jabillings commented on #231
Also, this doesn't apply to the use case we've discussed here, but I'm not sure this fix would work for a UN element with no length defined?

Per [this comment](https://github.com/suyashkumar/dicom/issues/220#issuecomment-951017449) it sounds like that case calls for parsing the element as a sequence

[2022-01-29 16:45] suyashkumar commented on #231
Glad to hear it worked for the original use case!

To your second comment--that's correct, the changes for UN element with undefined length are on this WIP branch: https://github.com/suyashkumar/dicom/tree/s/read-un-as-sq need clean it up, write some tests, etc. Hope to get that in soon!

[2022-02-01 07:46] krishpranav commented on #229
is there any updates???

[2022-02-01 23:37] suyashkumar commented on #229
Hi @krishpranav to answer your question:

You can move the sliders around to change the scaling of the raw pixel values in the image. The values written out to the PNG by this library should be the same raw integer values inside the dicom. It can sometimes be important to preserve these values, because they can often times map to real world units (like HU). You can also programmatically apply what

[2022-02-18 07:38] flicaflow opened #236 "dicom.Parse should not require the byteToRead parameter"
Hello everyone,

dicom.Parse requires to provide the bytes to read. This is rather unpractical if the caller has a io.Reader at hand. The only way to handle this is buffering the whole stream before calling Parse which just wastes memory.

Maybe I don't have the complete picture and don't understand why this is necessary. However I have a couple of suggestions how to deal with this.

1. When the P

[2022-02-21 18:55] vijaysubramanya opened #237 "De-identify DICOM tags"
I'm trying to update/de-identify some of the metadata tags (such as Patient ID). Is there a way to update the file directly without reading the file and writing back to the file? Currently, I'm reading the file into a variable, updating the elements, and writing back to a new file as below:

[code]

[2022-02-21 19:00] vijaysubramanya commented on #237
@suyashkumar @jstutters

[2022-03-15 01:26] elviskuo07 opened #240 "Can not load dicom"
I can't load this dicom, buy pydicom can with "force=True" parameter.
Does there have any hotfix for this kind dicom?

err message
read.go:534: error reading value  unexpected EOF
[test-dicom.dcm.zip](https://github.com/suyashkumar/dicom/files/8249417/test-dicom.dcm.zip)

[2022-03-21 20:47] itp-atakan commented on #240
You are getting this error because the dicom file which you are trying to parse has no preamble (128 bytes zeros) and magic bytes ('D', 'I', 'C', 'M').  If you'd like to have detailed information about the dicom format and file structure please have a look at (https://dicom.nema.org/dicom/2013/output/chtml/part10/chapter_7.html).

Regarding the problem, you can try to insert the preamble and magic

[2022-08-10 15:16] AshwinB-hat commented on #55
@suyashkumar I would like to take a dig at it. Adding Linters for Golang Checking probably running on github runners. Lmk.

[2022-09-06 04:29] ducquangkstn commented on #161
We have a DICOM (33Mb) with bitAllocated = 1
- using pydicom to read the pixel data results into an array with type=uint8 `251 Mb ~ 33 Mb * 8`
- using this library results into about `2Gb ~ 251 Mb * 8` memory located, the output array is []int (64bit)

I guess the issue is from data type representation.

[2022-09-07 03:14] suyashkumar commented on #237
Hi there! At the moment, I'm not sure of a great way to safely update the file "in place" if that's what you want.

Something I would like to do is update the element-by-element parsing API (e.g. the [Next() API on the parser](https://github.com/suyashkumar/dicom/blob/58fd583d8e5ad40e8d40aa463b6e88f30f9b1308/parse.go#L163)) be more memory efficient by _only_ holding onto the Dataset elements it ne

[2022-09-07 03:25] suyashkumar commented on #236
Yep I think this is a reasonable and something I've thought a little about in the past. I think the bytesToRead has been there largely for historical reasons that have to do with the way we use limits in the dicomio.Reader. Will need to take a closer look to see if we can cleanly move away from a bytesToRead given our current state but I think it's probably doable.

One thing I'll mention is that

[2022-09-07 03:34] suyashkumar commented on #161
Yep, in the case you describe that is the case (though in the comment above I was referring to another issue).

https://github.com/suyashkumar/dicom/issues/161#issuecomment-846706345 is where I lay out a possible interface for handling this in as clean of a way as possible. I can probably also add a getData interface{} that people can type assert to the right underlying type too if they just want